* {
  box-sizing: border-box;
  font-family: "Lato", Arial, sans-serif;
}

body {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('../images/bg.jpg');
    color: white;
    margin: 0px;
}

main {
	margin: 50px 10px 10px 10px;
}

.navbar {
    position: fixed;   
    top: 0;  
    width: 100%;       
    background-color: #333; 
    color: white;
    z-index: 1000; 
}

.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;     
}

.navbar li {
    float: left;    
    width: 33.3%;      
}

.navbar li a {
    display: block;       
    text-align: center;    
    padding: 14px 16px;   
    text-decoration: none; 
    color: white;    
    font-weight: bold;
    border: 2px solid rgba(255,255,255,0);
}

.navbar li a:hover {
    border: 2px solid rgba(255,255,255,1);
}

.current {
	background: linear-gradient(to right, #1fdbb6, #106de6);
}

footer {
    background-color: #edf4ff;
    margin-top: 40px;
    padding: 15px;
    width: 100%;
}

footer p {
    margin: 0 auto;
    text-align: center;
    font-size: 110%;
    color: black;
    width: 90%;
}

img {
  object-fit: cover;
}

#the2 {
    display: flex;           
    justify-content: space-between; 
    align-items: stretch;
    margin-top: 20px;
}

#the2 div {
    flex: 1;                  
    padding: 10px;           
    box-sizing: border-box;  
}

main section {
    background-color: rgba(102, 102, 102, 0.55); 
    border-radius: 2%;
}

.company {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 5px;
}

.logo {
    display: inline-block;
    width: 15%;  
    height: auto;  
    object-fit: cover;
    border-radius: 10%;
    vertical-align: middle;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.logo:hover {
    border: 3px solid rgba(8,96,168,1);
    transform: scale(1.1);
}

.logo-sm {
    display: inline-block;
    width: 50px; 
    height: auto;  
    object-fit: cover;
    border-radius: 10%;
    vertical-align: middle;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}

.logo-sm:hover {
    border: 3px solid rgba(8,96,168,1);
    transform: scale(1.1);
}

#home {
    text-align: center;
    padding: 20px;
    font-size: 200%;
    position: relative;
    top: 25px;
    margin-bottom: 40px;
}

#the2 div .photo {
    width: 100%;
    padding: 0;
    background: none;
}

.photo img {
    display: inline-block;
    width: 48%;               
    margin: 0px;           
    padding: 10px;         
    box-sizing: border-box;  
    height: auto;
    background: none;
    border-radius: 2%;
    box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}

.photo img:hover {
    border: 2px solid rgba(255,255,255,1);
    transform: scale(1.05);
}

h2 {
    padding: 10px;
    color: #33bbff;
    margin: 0px;
    font-size: 150%;
}

main p {
    padding: 0px 10px;
    margin-top: 0px;
}

main section h2 + p {
    position: relative;
    left: 5%;
    width: 90%;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 25px;
    justify-content: space-evenly;
    background: none;
}

.grid div p {
    font-size: 90%;
    margin-bottom: 5px;
}

.grid div img {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.grid div {
    margin-top: 10px;
    background-color: rgba(102, 102, 102, 0.55); 
    border-radius: 2%;
    box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}

.grid div:hover {
    border: 2px solid rgba(255,255,255,1);
    transform: scale(1.1);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    background: none;
}

.flex div p {
    font-size: 90%;
    margin-bottom: 5px;
}

.flex div img {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.flex div {
    width: 400px;
    margin: 8px;
    background-color: rgba(102, 102, 102, 0.55);
    border-radius: 2%;
    box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}

.flex div:hover {
    border: 2px solid rgba(255,255,255,1);
    transform: scale(1.1);
}

.companyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 0px;
}

#intro {
    padding: 10px;
    border-radius: 5%;
}